@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
:root{
    font-family: 'poppins',sans-serif;
}
    width: 500px;
    padding: 10px ;
    background: purple;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}
.main-div{
    flex-direction: column;
}
